@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
body{
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 15px;
}

.demo {
    border: 5px solid black;
    width: 50%;
    padding: 24px;
    margin: 24px;
}

.fw-200 {
    font-weight: 100;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}
:root {
    --mycolor01: #B2A59F;
    --mycolor02: #023459;
    --mycolor03: #1E646E;
    --mycolor04: #002C2F;
    --mycolor05: #D5D2C1;
    --mycolor06: #BD8E62;
    --mycolor07: #A46843;
    --mycolor08: #370D00;
    --mycolor09: #FFFFFF;
}
.box01 {
    border:5px solid var(--mycolor01);
    padding:100px;
    width:100px;
    margin:15px;
    height: 180px;
}
.box02 {
    height: 120px;
    border: 2px solid var(--mycolor02);
    background-color: var(--mycolor05);
    margin: 15px;
}
.bg-cover{
    background-position: center center;
    background-size: cover;
}
